.previous-work {
    display: grid;
    width: 100%;
}

.previous-work h2 {
    justify-self: center;

    font-size: 64px;
    color: white;

    padding-top: 32px;

    margin-bottom: 16px;
}

.carousel {
    position: relative;
    width: 250px;
    height: 350px;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    justify-self: center;

    margin: 0;
    padding: 0;
}

.carousel__track-container {
    width: 100%;
    height: 100%;
    padding: 0;

    position: relative;
}

.carousel__track {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel__slide {
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    width: 100%;

    transition: left 0.5s;
}

.carousel__img {
    position: relative;

    width: 100%;
    height: 100%;

    transition: width 0.5s, height 0.5s;

    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 700px) {
    .carousel__track-container {
        overflow-x: hidden;
    }

    .carousel__img {
        transition: none;
    }
}

.carousel__button {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);

    font-size: 64px;

    background: transparent;
    border: 0;

    color: white;

    cursor: pointer;
}

.carousel__button--left {
    left: 0;
    transform: translateX(-150%);
}

.carousel__button--right {
    right: 0;
    transform: translateX(150%);
}

.carousel__nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 150px;

    justify-self: center;
    justify-content: space-between;

    margin-top: 16px;
}

.carousel__waypoint {
    width: 28px;
    height: 28px;

    background: grey;

    border: 0;
    border-radius: 50%;

    cursor: pointer;
}

.carousel__waypoint.current-slide {
    background: white;
}
